@using AppUser.Models.UserAccountViewModels
@using AppUser.Data

@model PasswordRecoveryViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Password Recovery";
    bool VerifyUser = @TempData["VerifyUser"].ToString() == "No" ? false : true;
}

<h2 style="text-decoration:underline">@ViewData["Title"]</h2>

<div class="row container">
    <form method="post" asp-route-firstPass="@TempData["FirstPass"]">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 UserWindow">

            @if (!VerifyUser)
            {
                <div class="form-group has-feedback has-clear RowTop">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName"
                           class="form-control input-sm UserInput NoCopy NoPaste" autofocus
                           spellcheck="false" autocomplete="off" />
                    <i class="form-control-clear glyphicon glyphicon-remove-sign form-control-feedback"></i>
                </div>
            }
            else
            {
                <div class="form-group RowTop">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName"
                           class="hidden" />
                    <input asp-for="UserName" disabled
                           class="form-control input-sm UserInput"
                           spellcheck="false" autocomplete="off" />
                </div>

                <div>
                    <div class="form-group" style=" margin-bottom:0px; text-align:center;">
                        <label>Confirm Your Security Selections:</label>
                    </div>

                    @await Html.PartialAsync("_SecuritySelections")
                </div>

            }

            <hr />

            <div class="RowBottom">
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-sm btn-success">
                    Continue&nbsp;<i class="fa fa-hand-point-right"></i>
                </button>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/SecuritySelections.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

