@using AppUser.Models.UserAccountViewModels

@model PasswordResetViewModel

@{
    ViewData["Title"] = "Reset My Password";
}

<h2 style="text-decoration:underline">@ViewData["Title"]</h2>

<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 UserWindow">
        <form method="post" asp-route-id="@TempData["UserId"]">

            @if (TempData["PasswordResetStatus"].ToString() != "Complete")
            {
            <input asp-for="Code" hidden />
            <div class="form-group has-feedback Password RowTop">
                <label asp-for="NewPassword"></label>
                <label id="pwStatus" class="pull-right" style="color:red"></label>
                <input asp-for="NewPassword" id="Password" type="password"
                       class="form-control input-sm UserInput NoCopy NoPaste"
                       spellcheck="false" autocomplete="off" />
                <i class="form-control-clear glyphicon glyphicon-eye-open form-control-feedback"></i>
            </div>

            @await Html.PartialAsync("_PasswordRequirements")

            <div class="form-group has-feedback Password">
                <label asp-for="ConfirmPassword"></label>
                <label id="pwConfirmStatus" class="pull-right" style="color:red"></label>
                <input asp-for="ConfirmPassword" id="ConfirmPassword"
                       class="form-control input-sm UserInput NoCopy NoPaste"
                       spellcheck="false" autocomplete="off" />
                <i class="form-control-clear glyphicon glyphicon-eye-open form-control-feedback"></i>
            </div>

            <hr />

            <div class="RowBottom">
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-sm btn-success">
                    Reset Password&nbsp;<i class="fa fa-key"></i>
                </button>
            </div>
            }
            else
            {
            <div class="RowTop RowBottom">
                <a asp-action="SignIn" asp-controller="UserAccount"
                   class="btn btn-primary form-control">
                    Password Reset - Click to Sign-In
                </a>
            </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Password.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
